<div nz-row>
  <div nz-col nzSpan="9">
    <h3>{{header}}</h3>
  </div>
  <div nz-col nzSpan="9">
    <button nz-button class="my-none-border" nzType="default"><i nz-icon type="plus-circle" theme="outline"></i>新任务
    </button>
  </div>
  <div nz-col nzSpan="6">
    <nz-dropdown class="my-float-right">
      <a class="my-a" nz-dropdown><i nz-icon type="down"></i></a>
      <ul nz-menu nzSelectable>
        <li nz-menu-item><a><i nz-icon type="edit" theme="outline"></i> 修改列表名称</a></li>
        <li nz-menu-item><a><i nz-icon type="swap" theme="outline"></i> 移动本列表所有内容</a></li>
        <li nz-menu-item><a><i nz-icon type="delete" theme="outline"></i>删除列表</a></li>
      </ul>
    </nz-dropdown>
  </div>
</div>

